.search-box{
    display: flex;
    justify-content: center;
    min-width: 300px;
    height: 86px;
    margin: 6.4% 3.2%;
    background: rgb(228, 228, 228);
    border-radius: 10px;
}
.search-box-text{
    width: 199px;
    height: 40px;
    margin-left: 10px;
    margin-top: 22px;
    padding: 0 0;
    border-radius: 5px 0px 0px 5px;
    border: solid 0px;
}
.search-button{
    color: white;
    width: 77px;
    height: 40px;
    padding: 0 0;
    margin-right: 14px;
    margin-top: 22px;
    background: #00285F;
    border-radius: 0px 5px 5px 0px ;
    border: solid 0px;
}


@media(min-width:570px) {
    .search-box {
        margin: 5.13% 3.42%;        
        min-height: 123px;
    }

    .search-box-text{
        margin-left: unset;
        margin-top: 42px;
        width: 320px;        
    }

    .search-button{
        width: 174px;
        margin-top: 42px;
        margin-right: unset;
    }
}

@media(min-width:760px) {
    .search-box {
        margin: 3.9% 2.6%;        
        min-height: 123px;
        width: 728px;
    }

    .search-box-text{
        margin-left: unset;
        margin-top: 42px;
        width: 516px;        
    }
    
}

@media(min-width:990px) {
    .search-box {
        margin: 3.02% 2.02%;        
        min-height: 123px;
        width: 952px;
    }

    .search-box-text{
        margin-left: unset;
        margin-top: 42px;
        width: 584px;        
    }
    
}

@media(min-width:1270px) {
   
    .search-box {
        margin: 1.5% 11.85%;        
        min-height: 123px;
        width: 979px;
    }

    .search-box-text{
        margin-left: unset;
        margin-top: 42px;
        width: 584px;        
    }
    
}
